VITE_API_URL=http://localhost:4000
VITE_SUPABASE_URL=https://mkneaeisrwxnbahephay.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1rbmVhZWlzcnd4bmJhaGVwaGF5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NjYwODIsImV4cCI6MjA5NTU0MjA4Mn0.RMsvnzbqNB1d5KsdJZ61oaRL5RpfDlQVKhm9OpQhpSc