DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=8h
ADMIN_SECRET=
CORS_ORIGIN=http://localhost:3000
MAILSEND_API_KEY=
MAILSEND_FROM_EMAIL=
MAILSEND_FROM_NAME=SBG Portal
APP_URL=http://localhost:3000
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_DRIVE_FOLDER_ID=
PORT=4000
